{% extends 'my_cv/base.html' %}
{% load static %}

{% block content %}
<body>
<div class="">
    <div class="container-fluid overcover">
        <div class="container profile-box">
            <div class="row html-content"  id="html-content">
                <div class="col-md-4 left-co">
                    <div class="left-side">
                        <div class="profile-info">
                            <img src="{% static 'assets/images/profile-big.jpg' %}" alt="picture">
                            <h3>Vladimir Pedorenko</h3>
                            <span> Python Developer </span>
                        </div>
                        <h4 class="ltitle">Contact</h4>
                        <div class="contact-box pb0">
                            <div class="icon">
                                <i class="fas fa-phone"></i>
                            </div>
                            <div class="detail">
                                +380 93 361 85 05 <br>
                                phone
                            </div>
                        </div>
                        <div class="contact-box pb0">
                            <div class="icon">
                                <i class="fas fa-globe-americas"></i>
                            </div>
                            <div class="detail">
                                <a href="mailto:rendom29@gmail.com" style="color: #FFFFFF">rendom29@gmail.com <br>
                                mail</a>
                            </div>
                        </div>
                        <div class="contact-box">
                            <div class="icon">
                                <i class="fas fa-map-marker-alt"></i>
                            </div>
                            <div class="detail">
                                Ukraine , Dnipro City
                            </div>
                        </div>
                        <h4 class="ltitle">Social</h4>
                        <ul class="row hoby no-margin ">
<!--                            <li><i class="fab fa-facebook-f"></i></li>-->
<!--                            <li><a href="#" style="color: #FFFFFF"><i class="fab fa-twitter"></i></a></li>-->
<!--                            <li><a href="#" style="color: #FFFFFF"><i class="fab fa-google-plus-g"></i></a></li>-->
                            <li><a href="#" style="color: #FFFFFF"><i class="fab fa-linkedin-in"></i></a></li>
                            <li><a href="#" style="color: #FFFFFF"><i class="fab fa-github"></i></a></li>
                            <li><a href="#" style="color: #FFFFFF"><i class="fab fa-telegram-plane"></i></a></li>
                        </ul>
                        <h4 class="ltitle">Referencess</h4>

                        <div class="refer-cov">
                            <b>Jonney Smith</b>
                            <p>CEO Casinocarol</p>
                            <span>p +00 890 1232 8767</span>
                        </div>
                        <div class="refer-cov">
                            <b>Jonney Smith</b>
                            <p>System Administrator</p>
                            <span>p +00 890 1232 8767</span>
                        </div>
                        <h4 class="ltitle">Hobbies</h4>
                        <ul class="hoby row no-margin">
                            <li><i class="fas fa-pencil-alt"></i> <br> Writing</li>
                            <li><i class="fas fa-bicycle"></i> <br> Cycling</li>
                            <li><i class="fas fa-futbol"></i> <br> Football</li>
                            <li><i class="fas fa-film"></i><br> Movies</li>
                            <li><i class="fas fa-plane-departure"></i> <br>Travel</li>
                            <li><i class="fas fa-gamepad"></i> <br> Games</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-8 rt-div">
                    <div class="rit-cover">
                        <div class="hotkey">
                            <h1 class="">Vladimir Pedorenko </h1>
                            <small>Python Developer</small>
                        </div>
                        <h2 class="rit-titl"><i class="far fa-user"></i> Profile</h2>
                        <div class="about">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis accumsan purus enim, a vestibulum est tristique sit amet. Suspendisse nibh nisl, imperdiet sit amet mi vitae, elementum elementum nibh. Vivamus vitae eros malesuada, convallis dolor malesuada, lobortis ex. Sed cursus augue risus, ac semper est consectetur vitae. Praesent consequat metus sit amet rhoncus luctus.</p>
                            <div class="btn-ro row no-margin">
                                <ul class="btn-link">
                                    <li>
                                        <a href="" hx-get="{% url 'modalform' %}" hx-target="#dialog" data-toggle="modal" data-target="#modal">
                                            <i class="fas fa-paper-plane"></i> Hire Me</a>
                                    </li>
                                    <li>

                                        <a href="javascript:CreatePDFfromHTML()">
                                            <i class="fas fa-cloud-download-alt"></i>
                                            Download Resume
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <!-- Placeholder for the modal -->
                        <div id="modal" class="modal fade">
                          <div id="dialog" class="modal-dialog"></div>
                        </div>

                        <!-- Empty toast to show the message -->
                        <div class="toast-container position-fixed top-0 end-0 p-3">
                          <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                            <div class="d-flex">
                              <div id="toast-body" class="toast-body"></div>
                              <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                            </div>
                          </div>
                        </div>

                        <h2 class="rit-titl"><i class="fas fa-briefcase"></i> Work Experience</h2>
                        <div class="work-exp">
                            <h6>Junior Software Developer <span>2008-2011</span></h6>
                            <i>Microsoft / United States</i>
                            <ul>
                                <li><i class="far fa-hand-point-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
                                <li><i class="far fa-hand-point-right"></i> Sorem dolor sit amet, consectetur. </li>
                                <li><i class="far fa-hand-point-right"></i> Porem ipsum sit amet, consectetur adipiscing </li>
                            </ul>
                        </div>
                        <div class="work-exp">
                            <h6>Junior Software Developer <span>2008-2011</span></h6>
                            <i>Microsoft / United States</i>
                            <ul>
                                <li><i class="far fa-hand-point-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>

                                <li><i class="far fa-hand-point-right"></i> Sed cursus augue risus, ac semper est consectetur vitae </li>
                            </ul>
                        </div>
                        <div class="work-exp">
                            <h6>Junior Software Developer <span>2008-2011</span></h6>
                            <i>Microsoft / United States</i>
                            <ul>
                                <li><i class="far fa-hand-point-right"></i> Praesent consequat metus sit amet rhoncus luctus.

                                </li>
                                <li><i class="far fa-hand-point-right"></i> Lorem ipsum dolor sit amet, consectetur. </li>

                            </ul>
                        </div>

                        <h2 class="rit-titl"><i class="fas fa-graduation-cap"></i> Education</h2>
                        <div class="education">
                            <ul class="row no-margin">
                                <li class="col-md-6"><span>2013-2015</span> <br>
                                    Master Degree - Cambridg University</li>
                                <li class="col-md-6"><span>2013-2015</span> <br>
                                    Master Degree - Cambridg University</li>
                                <li class="col-md-6"><span>2013-2015</span> <br>
                                    Master Degree - Cambridg University</li>
                                <li class="col-md-6"><span>2013-2015</span> <br>
                                    Master Degree - Cambridg University</li>
                            </ul>
                        </div>

                        <h2 class="rit-titl"><i class="fas fa-users-cog"></i> Skills</h2>
                        <div class="profess-cover row no-margin">
                            <div class="col-md-6">
                                <div class=" prog-row row">
                                    <div class="col-sm-6">
                                        Photoshop
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 65%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        PHP
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 85%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        Web Design
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row prog-row">
                                    <div class="col-sm-6">
                                        Web Development
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

{% endblock content %}

{% block custom_js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js"></script>
<script type="text/javascript" src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"> </script>
<script>
function CreatePDFfromHTML() {
      let createPdf = document.body;
      // let createPdf = document.getElementById("html-content");
      let content = $(".html-content")
      let w = content.width();
      let h = content.height();
      let opt = {
         margin: 0,
         filename: 'Vladimir_Pedorenko_CV.pdf',
         html2canvas: {
            scale: 2,
            backgroundColor: null
         },
         jsPDF: {
            unit: 'pt',
            format: [w, h],
            orientation: 'portrait'
         }
      };
      html2pdf().set(opt).from(createPdf).save();
}
</script>
{% endblock custom_js %}
